<div id="{{ group_id}}" class="chat_convo_wrap">
  <div class="chat_convo">
    <header>
      <h3 class="chat_title">(group)</h3>
      <div class="chat_controls" data-group-id="{{ group_id }}">
        <i class="chat_close icon-remove"></i>
        <i class="chat_group_members icon-group"></i>
        <i class="chat_add_users icon-plus"></i>
      </div>
    </header>
    <div class="chat_convo_body">
      <div class="chat_find_users">
        <form class="chat_add_users">
          <select data-placeholder="Enter users name" multiple style="width:250px" class="chzn-select">
          </select>
          <button>Add</button>
        </form>
      </div>

      <div class="chat_group_users"></div>

      <div class="chat_convo_messages"></div>


      <div class="chat_new_message_container">
        <form data-group-id="{{ group_id }}">
          <textarea class="chat_new_message"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
